<div>
  <div class="card">
    <div class="p-4 flex justify-between items-center">
      <h2>
        <%= @announcement.content %>
      </h2>
      <div>
        <%= link_to "Editar", edit_project_announcement_path(@project, @announcement), class: "button-outline" %>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <%= render 'announcement_comments/list' %>
    <%= render 'announcement_comments/form' %>
  </div>
</div>