<form action="/registers" method="post" class="form">
  <div class="mb-4">
    <label for="first_name" class="label">Nombre</label>
    <input type="text" class="input" placeholder="Nombre" name="first_name" id="first_name">
  </div>
  <div class="mb-4">
    <label for="last_name" class="label">Apellido</label>
    <input type="text" class="input" placeholder="Apellido" name="last_name" id="last_name">
  </div>
  <div class="mb-4">
    <label for="email_address" class="label">Email</label>
    <input type="text" class="input" placeholder="Email" name="email_address" id="email_address">
  </div>
  <div class="mb-4">
    <label for="password" class="label">Password</label>
    <input type="password" class="input" placeholder="Password" name="password" id="password">
  </div>
  <button type="submit" class="button">
    Registrar
  </button>
</form>
