<div class="custom_container">
  <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="text-2xl font-semibold mb-4">
    Registro de usuario
  </h2>
  <%= render 'registers/form'%>
</div>