<div class="max-w-4xl mx-auto mt-6">
  <div class="bg-white border border-gray-200 rounded-2xl p-6">
    <h2 class="text-2xl font-semibold mb-4">Editar Comentario</h2>
    
    <%= render 'comments/form', comment: @comment, project: @project, todo: @todo, task: @task %>
  </div>
</div>
