<div>
  <%= form_for :comment, url: add_comment_project_todo_task_path(@project, @todo, @task), method: :post do |f| %>
    <div>
      <div class="mb-3">
        <%= f.label :content, "Comentario", class: "label" %>
        <%= f.text_area :content, class: "input h-[150px]" %>
      </div>
      <%= f.submit "Agregar Comentario", class: "button" %>
    </div>
  <% end %>
</div>