<% if @task.errors.any? %>
  <div class="errors">
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: [@project, @todo, @task] do |form| %>
  <div class="mb-4 ">
    <%= form.text_field :title, class: "mt-2", placeholder: "Describe esta tarea" %>
  </div>
  <%= form.submit "Guardar", class: "button" %>
<% end %>
