<% if @task.errors.any? %>
  <div class="errors">
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: [@project, @todo, @task] do |form| %>
  <div class="mb-4 ">
    <%= form.text_field :title, class: "mt-2 input", placeholder: "Describe esta tarea" , autofocus: true %>
  </div>
  <%= form.submit "Guardar", class: "button", id: "submit_task", data: {
    turbo_submits_with: "Guardando..."
  } %>
<% end %>
