<% content_for :title, "Editing document" %>

<div class="app_container">
  <%= render "form", document: @document %>
  <%= link_to "Ir a documentos", request.referrer, class: "button-outline" %>
</div>
