<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-12">
  <% @projects.each do |single| %>
    <%= link_to project_path(single), class: "mb-4 shadow-lg p-4 rounded-2xl bg-white w-full max-w-md min-h-[200px] flex flex-col justify-between" do %>
      <h3 class="text-xl font-semibold">
        <%= single.title %>
      </h3>
      <span class="text-gray-500 text-sm">Pendientes: 20 </span>
    <% end %>
  <% end %>
</div>