<div class="mt-12">
  <% @projects.each do |single| %>
    <%= link_to project_path(single), class: "mb-4 shadow-lg p-4 rounded-2xl bg-white w-full max-w-md min-h-[200px] flex flex-col justify-between mx-auto" do %>
      <h3 class="text-xl font-semibold">
        <%= single.title %>
      </h3>
    <% end %>
  <% end %>
</div>