<div class="calendar-widget">
    <h2 class="card_title">
      Calendario publicaciones
    </h2>
  <% 
    # Obtener publicaciones del mes actual
    today = Date.today
    current_month_publications = @project.publications.for_month(today.year, today.month).order(:publication_date)
  %>

  <% if current_month_publications.any? %>
    <ul class="calendar-widget-list max-h-[300px] overflow-y-scroll">
      <% current_month_publications.limit(5).each do |publication| %>
        <li class="calendar-widget-item">
          <div class="calendar-widget-item-title">
            <%= publication.title %>
          </div>
          <div class="calendar-widget-item-date">
            <%= publication.publication_date.strftime('%d/%m/%Y') %>
          </div>
          <% if publication.task.present? %>
            <div class="calendar-widget-item-task">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M9 12l2 2l4 -4" /></svg>
              Tarea creada
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    
    <div class="calendar-widget-footer">
      <%= link_to "Ver calendario completo", project_publications_path(@project), class: "calendar-widget-link" %>
    </div>
  <% else %>
    <p class="calendar-widget-empty text-center">No hay publicaciones planificadas este mes</p>
    <%= link_to "Ver calendario", project_publications_path(@project), class: "text-sm text-blue-600 hover:underline mt-2 flex justify-center" %>
  <% end %>
</div>
