<div>
  <h2 class="text-2xl font-bold text-center mb-4">
    Tivo
  </h2>
  <section class="mb-4 flex justify-center">
    <div class="mt-2">
      <div>
        <%= link_to "Crear proyecto", new_project_path, class: "button" %>
      </div>
    </div>
  </section>
  <section class="mt-4">
    <% if @projects.any? %>
      <%= render 'projects/list', projects: @projects %>
    <% else %>
    <div class="flex justify-center">
      <div>
      <h3 class="text-xl font-semibold mb-2 text-center">
        Registra tu primer proyecto
      </h3>
      <figure class="h-[300px]">
        <img src="undraw_no-data_ig65.svg" alt="No hay datos" class="h-full">
      </figure>
      </div>
    </div>
    <% end %>
  </section >