<div>
  <div class="card max-w-[95%] mx-auto mb-[-10px] p-4">
    <div class="flex items-center justify-center">
      <%= link_to @project.title, project_path(@project),  class: "text-2xl underline font-semibold capitalize"%>
    </div>
  </div>
  <div class="card">
    <div class="p-4 border-b border-gray-200">
      <div class="grid grid-cols-3">
        <div>
          <%= link_to 'Nueva lista', new_project_todo_path, class: "button-outline" %>
        </div>
        <div class="flex justify-center">
          <h2 class="text-xl font-bold text-gray-800">
            Listas de tareas
          </h2>
        </div>
        <div>
          <%# <button class="button-outline">
            Ver como
          </button> %>
        </div>
      </div>
    </div>
    <%= render 'todos/todo_list' %>
  </div>
</div>